@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/*COLOURS*/
:root {
	--primary: rgb(142 73 88);
	--onPrimary: rgb(255 255 255);
	--primaryContainer: rgb(255 217 222);
	--onPrimaryContainer: rgb(58 7 23);
	--secondary: rgb(117 86 91);
	--onSecondary: rgb(255 255 255);
	--secondaryContainer: rgb(255 217 222);
	--onSecondaryContainer: rgb(43 21 25);
	--tertiary: rgb(122 88 50);
	--onTertiary: rgb(255 255 255);
	--tertiaryContainer: rgb(255 220 187);
	--onTertiaryContainer: rgb(43 23 0);
	--background: rgb(255 248 247);
	--onBackground: rgb(34 25 27);
	--surface: rgb(255 248 247);
	--onSurface: rgb(34 25 27);
	--outline: rgb(132 115 117);
	--surfaceVarient: rgb(243 221 224);
	--onSurfaceVarient: rgb(82 67 69);   
}

/*HTML CSS CODE*/

html {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

body {
    margin: 0;
    padding-bottom: 56px; /* Adjust to match the height of the bottom navigation bar */
  }

  .container {
    position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
  }

  .mdc-bottom-navigation {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--surface);
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    border-radius: 25px;
    margin: 10px;
    margin-bottom: 15px !important;
    border: 1px solid var(--onSurfaceVarient);
  }

  .mdc-bottom-navigation__item {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--onPrimaryContainer);
    transition: color 0.2s;
    cursor: pointer;
  }

  .mdc-bottom-navigation__label {
    font-size: 12px !important;
  }

  /*.mdc-bottom-navigation__item:hover,
  .mdc-bottom-navigation__item--active {
    color: #313538;
  }*/

  .icon, .activeIcon {
    padding-top: 2px;
  }

  .icon {
    vertical-align: middle !important;
  }

  .activeIcon {
    background-color: var(--primaryContainer);
    width: 64px;
    height: 32px;
    border-radius: 50px;
  }

  .inactiveIcon {
    width: 64px;
    height: 32px;
  }

.top-bar {
    background-color: #d6e4f7;
    position: fixed;
    width: 100%;
    top: 0;
    color: #1c2120;
    padding: 15px;
    z-index: 1;
}

.top-bar__title {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.top-bar .icon {
  text-align: right !important;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.section {
  width: 50%;
}

.toolbaricon {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: var(--surface);
  border-top: 1px solid var(--onSurfaceVarient);
  z-index: 1;
  display: none;
  color: var(--onSurface);
  text-align: left;
}

.toprightclose {
  position: absolute;
  top: 0px;
  right: 10px;
}

.tb-button {
  padding-left: 10px;
}

.tb-button i {
	font-size: 25px !important;
	padding-bottom: 5px;
	vertical-align: middle !important;
}

.toolbaricon h2 {
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
}

  /*Content*/

  #content {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    border: none;
    zoom: 0.6;
    z-index: 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #content {
      zoom: 1;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: rgb(255 178 191);
      --onPrimary: rgb(86 29 43);
      --primaryContainer: rgb(113 51 65);
      --onPrimaryContainer: rgb(255 217 222);
      --secondary: rgb(228 189 194);
      --onSecondary: rgb(67 41 46);
      --secondaryContainer: rgb(92 63 68);
      --onSecondaryContainer: #d7e3f8;
      --tertiary: #d7bde4;
      --onTertiary: #3b2947;
      --tertiaryContainer: #533f5f;
      --onTertiaryContainer: #f3daff;
      --background: #1a1c1e;
      --onBackground: #e3e2e6;
      --surface: #1a1c1e;
      --onSurface: #e3e2e6;
      --outline: #8d9199;
      --surfaceVarient: #43474e;
      --onSurfaceVarient: #c3c6cf;
    }

    .top-bar {
      background-color: #011c36;
      color: #cad9ef;
    }
}