@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

body {
    margin: 0;
    padding-bottom: 56px; /* Adjust to match the height of the bottom navigation bar */
  }

  .container {
    position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
  }

  .mdc-bottom-navigation {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafcfe;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    border-radius: 25px;
    margin: 10px;
  }

  .mdc-bottom-navigation__item {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #313538;
    transition: color 0.2s;
    cursor: pointer;
  }

  /*.mdc-bottom-navigation__item:hover,
  .mdc-bottom-navigation__item--active {
    color: #313538;
  }*/

  .icon, .activeIcon {
    padding-top: 2px;
  }

  .icon {
    vertical-align: middle !important;
  }

  .activeIcon {
    background-color: #cfe6f0;
    width: 64px;
    height: 32px;
    border-radius: 50px;
  }

  .inactiveIcon {
    width: 64px;
    height: 32px;
  }

/*  .top-bar {
    background-color: #2196f3;
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 15px;
  }

  .top-bar__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
  }*/

  /*Content*/

  #content {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    border: none;
    zoom: 0.6;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #content {
      zoom: 1;
    }
  }

  @media (prefers-color-scheme: dark) {
	html {
		background-color: #131314;
    }

    .mdc-bottom-navigation {
        background-color: #1a1c1e;
    }

    .mdc-bottom-navigation__item {
        color: #cbdfe1;
    }

    .activeIcon {
        background-color: #354b51;
    }
}