/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*COLOURS*/
:root {
	--primary: #0061a6;
	--onPrimary: #ffffff;
	--primaryContainer: #d2e4ff;
	--onPrimaryContainer: #001c37;
	--secondary: #535f70;
	--onSecondary: #ffffff;
	--secondaryContainer: #d7e3f8;
	--onSecondaryContainer: #101c2b;
	--tertiary: #6c5778;
	--onTertiary: #ffffff;
	--tertiaryContainer: #f3daff;
	--onTertiaryContainer: #251431;
	--background: #fdfcff;
	--onBackground: #1a1c1e;
	--surface: #fdfcff;
	--onSurface: #1a1c1e;
	--outline: #73777f;
	--surfaceVarient: #dfe2eb;
	--onSurfaceVarient: #43474e;
}

/*HTML CSS CODE*/

/*Navigation Buttons*/
.button:hover {
    background-color: #96AFB8;
}

.button img {
    width: 50px;
    float: right;
}

@media (prefers-color-scheme: dark) {
    .button {
        border: none;
        color: white;
        background-color: #354A54;
    }

    .button:hover {
        background-color: #5A6B74;
    }
}

/*Translucent Box*/
.translucentBox {
    padding: 10px;
    max-width: 350px;
    min-width: 300px;
    background-color: var(--primaryContainer);
    margin-left: auto;
    margin-right: auto;
}

/*Text*/
.blue-h2 {
    color: var(--primary);
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 100;
    text-align: left;
}

p {
    font-size: 20px;
    text-align: left;
}

/*Back Icons, etc.*/
.materialBackButtons {
    font-size: 30px !important;
}

.back {
    position: fixed;
    bottom: 80px;
    right: 10px;
    background-color: var(--surface);
    border: 1px solid var(--onSurfaceVarient);
    border-radius: 60px;
    height: 30px;
    width: 30px;
}

/*Joins*/
.joinTop {
    border-radius: 25px 25px 6px 6px !important;
	margin-bottom: 5px;
}

.joinMiddle {
	border-radius: 6px !important;
	margin-bottom: 5px;
}

.joinBottom {
	border-radius: 6px 6px 25px 25px !important;
}

.full {
	border-radius: 25px;
}

/*Heading Text Container*/
.headingTitle {
    margin: 0 auto;
    width: 350px;
    padding: 0px;
}

/*More Container*/
#moreContainer {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    display: none;
}

/*More Sections*/
#secureLogin, #settings, #feedback {
    display: none;
}

/*Rounded Image*/
.roundedImage {
	border-radius: 25px;
	border: 0.5px solid #303034;
}

@media(prefers-color-scheme: dark) {
    :root {
		--primary: #a0c9ff;
		--onPrimary: #00325a;
		--primaryContainer: #253141;
		--onPrimaryContainer: #d2e4ff;
		--secondary: #bbc7db;
		--onSecondary: #253141;
		--secondaryContainer: #3c4858;
		--onSecondaryContainer: #d7e3f8;
		--tertiary: #d7bde4;
		--onTertiary: #3b2947;
		--tertiaryContainer: #533f5f;
		--onTertiaryContainer: #f3daff;
		--background: #1a1c1e;
		--onBackground: #e3e2e6;
		--surface: #1a1c1e;
		--onSurface: #e3e2e6;
		--outline: #8d9199;
		--surfaceVarient: #43474e;
		--onSurfaceVarient: #c3c6cf;
	}
    
    .roundedImage {
        border: none;
    }
}

/*iframe Stylings*/
.moreIframes {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    border: none;
    zoom: 0.6;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .moreIframes {
      zoom: 1;
    }
  }